<section id="section_index_workout">
	<div class="container">
		<div class="row">
			<div class="col-8 offset-2">
				
				<% @workouts.each do |workout| %>
					<%= link_to workout_path(workout), style: "text-decoration: none;" do %>
						<div class="card-deck">
						  <div class="card border-dark mb-4">
						  	<div class="card-header text-dark">Workout Log</div>
						    <div class="card-body">
						      <h5 class="card-title"><%= workout.date.strftime("%A %B %d") %></h5>
						      <p class="card-text"><%= workout.workout %></p>
						    </div>
						  </div>
						</div>
					<% end %>
				<% end %>

			</div>
		</div>
	</div>
</section>
